@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    height: 100%;
    overflow-x: hidden;
  }
  
  body {
    height: 100%;
    overflow-x: hidden;
    overscroll-behavior-y: none;
  }

  input, textarea, select {
    font-size: 16px !important; /* Prevents auto-zoom on iOS focus */
  }

  /* Custom Scrollbar for better app feel */
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  @media print {
    .no-print {
      display: none !important;
    }
    
    body {
      background: white !important;
      padding: 0 !important;
      margin: 0 !important;
    }

    #prescription-paper {
      border: none !important;
      box-shadow: none !important;
      width: 100% !important;
      margin: 0 !important;
      padding: 0 !important;
      position: absolute;
      top: 0;
      left: 0;
    }

    .fixed {
      position: static !important;
      background: white !important;
      padding: 0 !important;
    }

    .overflow-y-auto {
      overflow: visible !important;
    }
  }
}

